body{

	background:url(../images/registration.jpg);
	background-repeat: no-repeat;
    background-size: 1600px 800px;
	color:#bf0707;
}

h2{
	margin:100px 0 0 0;
	text-align:center;
	font:Tahoe;
	color:#4286f4;
}
label{
	color:#871899;
	text-align:center;
}
form{
	text-align:center;
}
